node_modules
apps/api/.m2/
apps/api/target/
apps/web/dist/
nul
.env
.env.*
application-local.yml
application-dev.yml
application-secrets.yml
apps/api/src/main/resources/application-local.yml
apps/api/src/main/resources/application-dev.yml
apps/api/src/main/resources/application-secrets.yml